.product-container {
    display: block;
    justify-content: center;
    width: 98%;
    position: relative;
    
}
.product {
    position: relative;
    padding: 10px 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product img {
    width: 500px;
    height: 400px;
    opacity: 0.7;
    background: rgba(325, 521, 829, 0.8);
    object-fit: cover;
}
.product_text {
    position: absolute;
    color: #fff;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding: 30px;
    margin-left: 15px;
    max-width: 500px;
    font-weight: 600;
    
}
.product-button {
    width: 90%;
    height: 80%;
    margin: 15px;
    padding: 15px;
    display: block;
    justify-content: center;


}
.product-span {
    font-size: 24px;
    padding: 5px;
    margin: 5px;
    color: #233359;
    display: flex;
    text-align: left;
    margin-left: 30px;
}
.button-text {
    width: 60%;
    height: 20%;
    background: #115A9D;
    border-radius: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 700;
    margin-left: 90px;
    margin-top: 100px;
}
.product_text1 {
    position: absolute;
    color: #233359;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 10px;
    margin-left: 15px;
    max-width: 500px;
    font-weight: 600; 
}
.cases-div {
    margin-top: 50px;
    margin-left: 30px;
    width: 95%;
    height: 15px;
    background-color: #115A9D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    text-align: center;
    margin: 0 30 0 30;
    border-radius: 30px;
    margin-bottom: 50px;
    
}
@media (max-width: 1400px){
    .product img {
        width: 400px;
        height: 300px;
        margin-left: -25px;
    }
    .product_text {
        font-size: 28px;
        max-width: 450px;
    }
    .product-span {
        font-size: 16px;
    }
    .button-text {
        font-size: 14px;
        margin-top: 30px;
    }
    .product_text1 {
        font-size: 26px;
        max-width: 450px;
    }
}

@media (max-width: 1100px){
    .product img {
        width: 400px;
        height: 300px;
        margin-left: 30px;
    }
    .product_text {
        font-size: 14px;
        max-width: 250px;
    }
    .product-span {
        font-size: 16px;
    }
    .button-text {
        font-size: 14px;
        margin-top: 30px;
    }
    .product_text1 {
        font-size: 16px;
        max-width: 250px;
    }
}
@media (max-width: 900px){ 
    /* .product_text {
        font-size: 18px;
        max-width: 350px;
        text-align: center;
    } */
    .product-span {
        font-size: 16px;
        width: 100%;
    }
    .button-text {
        font-size: 16px;
        margin-top: 30px;
        margin-left: 25px;
        width: 170px;
    }
    .product_text1 {
        font-size: 18px;
        max-width: 450px;
    }
    .cases-div { 
        margin-left: 14px;
    }
    .product img {
        width: 250px;
        height: 200px;
    }

}
@media (max-width: 750px){
    .product_text {
        font-size: 18px;
        max-width: 350px;
        text-align: center;
    }
    .product-span {
        font-size: 16px;
    }
    .button-text {
        font-size: 14px;
        margin-top: 30px;
        margin-left: 55px;
    }
    .product_text1 {
        font-size: 18px;
        max-width: 350px;
    }
    .cases-div { 
        margin-left: 14px;
    }
    
}